<div id="right">
    <h2 class="section-title">{{ 'creer un tag' | translate }}</h2>
    <div>
        <form [formGroup]="newTagForm" #form="ngForm" (ngSubmit)="createNewTag(newTagForm.value)">
            <mat-input-container class="input-container">
                <input matInput type="text"
                       placeholder="Nom du tag"
                       formControlName="label">
            </mat-input-container>

            <button mat-raised-button type="submit" [disabled]="!newTagForm.valid">
                Ajouter
            </button>

            <div *ngIf="error">{{error | translate}}</div>
        </form>
    </div>
</div>
<div class="clear"></div>
<div>
    <h2 class="section-title">{{ 'la liste des tags' | translate }}</h2>
    <div>
        <mat-progress-spinner *ngIf="!tags"
                              class="progress-spinner"
                              [color]="'primary'"
                              [mode]="'indeterminate'">
        </mat-progress-spinner>

        <mat-list>
            <mat-list-item *ngFor="let tag of tags">
            <img (click)="seeTagDetails(tag);" mat-list-avatar src="assets/images/heroes/default.jpg">
           <h3 mat-line [ngClass]="{'cp': tag.default}" (click)="seeTagDetails(tag);"> {{tag.label}} </h3>
           <p mat-line [ngClass]="{'cp': tag.default}" (click)="seeTagDetails(tag);">
               <span>{{tag.id}}</span>
           </p>
           <div class="hero-actions">
               <span class="remove-icon" (click)="remove(tag);"><i class="fa fa-trash-alt"></i></span>
           </div>
       </mat-list-item>
   </mat-list>
</div>
</div>